html,body{
  background-color: #222;
  width: 100%;
  height: 100%;
}

.content{
  width: 100%;
  height: 100%
}

/*stage -- start*/
.stage{
  position: relative;
  width:100%;
  /*height: 680px;*/
}

/*stage -- end*/

img{
  width:100%;
  height: 100%;
  background-size: 100% 100%;

}

.img-sec{
    position: relative;
    width: 100%;
    height: 100%;
    overflow:hidden;
    background-color:#ddd;

}
  .img-figure{
          /*position: absolute;*/
          width:320px;
          height: 360px;
          padding: 30px;
          box-sizing: border-box;
          background-color: #fff;
          float: left;

       }

       figcaption{
        text-align: center;

          margin: 0px 0 0 0;
          color:#a7a0a2;
          font-size:16px;

       }
        .img-title{
          margin: 0px 0 0 0;
          color:#a7a0a2;
          font-size:16px;
        }


/*controller*/

.controller-nav{
  position: absolute;
  left:0;
  bottom: 30px;
  z-index:101;
  width:100%;
  text-align: center;
}


.showPic{
    width:70%;
    height: 70%;
    border: 1px dotted #ccc;
    background-color: #FFF;
   position: fixed;
   z-index: 111;
  margin:10% 10%;

  /*overflow: hidden;
  clear: both;*/
  /*display: none;*/
}
